extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5   
                img(src="img/nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
            
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi accusamus sint explicabo iusto dignissimos mollitia, nesciunt eligendi cupiditate vel quas, commodi, error odio! Nam excepturi consectetur deserunt ex aliquam natus?

                p ipsum dolor sit amet consectetur adipisicing elit. Voluptatem explicabo, expedita laboriosam sapiente nostrum laudantium exercitationem nam accusantium quos facilis assumenda excepturi. Dolore assumenda, natus nisi voluptates nulla tempora nihil?

                p ipsum dolor, sit amet consectetur adipisicing elit. Accusantium libero architecto, quas at ducimus quaerat, pariatur dolore dolores voluptate nulla cupiditate facere dolor tempora vel molestiae quidem esse voluptas harum.

    .listado-iconos 
        .containes.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsum expedita corporis, odit, ratione inventore aspernatur fugit accusamus ducimus rem.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsum expedita corporis, odit, ratione inventore aspernatur fugit accusamus ducimus rem.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsum expedita corporis, odit, ratione inventore aspernatur fugit accusamus ducimus rem.